/* Common CSS Part Start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    outline: 0;
    font-family: "Roboto Condensed", sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;
}
/* Common CSS Part End  */

/* Heading Part Start  */
.headingFlex{
    display: flex;
    justify-content: center;
}
.heading{
    margin-top: 25px;
    font-size: 40px;
    text-align: center;
}
.headingBtn{
    align-items: center;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 25px;
}
button{
    padding: 10px 35px;
    background: rgb(241, 143, 159);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
/* Heading Part End  */

/* Mode Part Start  */
.mode{
    display: block;
    font-size: 15px;
    display: flex;
    justify-content: end;
}
.darkMode{
    margin-right: 15px;
}
.darkMode i{
    color: black;
}
.lightMode i{
    color: white;
}
.form{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  background: white;
  width: 500px;
  margin: 50px auto;
}
input{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 20px;
    width: 350px;
}
.form input{
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px 15px;
}
/* Mode Part End  */

/* Add Review Part Start  */
#reviewContainer{
    margin-top: 35px;
}
#reviewContainer p{
    margin-left: 55px;
    line-height: 25px;
    font-size: 25px;
    margin-bottom: 15px;
}
#reviewInput{
    border: 2px solid blue;
    border-radius: 5px;
    padding: 20px;
}
::placeholder{
    font-size: 18px;
}
#reviewBtn{
    margin-top: 20px;
    margin-bottom: 60px;
}
/* Add Review Part End  */

/* Delete Part Start  */
.deletePart{
    margin-top: 50px;
}
#deleteBtn{
    margin-top: 25px;
}
/* Delete Part End  */